# List of codeowners based on project team

/Alumnos/MDAA/*/DOCKER/** @a10pepo @MA-Barracas
/Alumnos/MDAB/*/DOCKER/** @a10pepo @MA-Barracas
/Alumnos/MIA/*/DOCKER/** @a10pepo @MA-Barracas

/Alumnos/MDAA/*/LINUX/** @a10pepo
/Alumnos/MDAB/*/LINUX/** @a10pepo
/Alumnos/MIA/*/LINUX/** @a10pepo

/Alumnos/MDAA/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/MDAB/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/MIA/*/PYTHON/** @martinImagina @a10pepo

/Alumnos/MDAA/*/SQL/** @a10pepo @gavnatalia
/Alumnos/MDAB/*/SQL/** @a10pepo @gavnatalia
/Alumnos/MIA/*/SQL/** @a10pepo @gavnatalia

/Alumnos/MDAA/*/NIFI/** @frkroe @a10pepo 
/Alumnos/MDAB/*/NIFI/** @frkroe @a10pepo 
/Alumnos/MIA/*/NIFI/** @frkroe @a10pepo

/Alumnos/MDAA/*/AHORCADO/** @a10pepo
/Alumnos/MDAB/*/AHORCADO/** @a10pepo
/Alumnos/MIA/*/AHORCADO/** @a10pepo

/Alumnos/MDAA/*/APIS/** @a10pepo @Marcolapietro
/Alumnos/MDAB/*/APIS/** @a10pepo @Marcolapietro
/Alumnos/MIA/*/APIS/** @a10pepo @Marcolapietro

/Alumnos/MDAA/*/KAFKA/** @a10pepo @rusansor
/Alumnos/MDAB/*/KAFKA/** @a10pepo @rusansor
/Alumnos/MIA/*/KAFKA/** @a10pepo @rusansor

/Alumnos/MDAA/*/PYSPARK/** @a10pepo @yalinghu
/Alumnos/MDAB/*/PYSPARK/** @a10pepo @yalinghu
/Alumnos/MIA/*/PYSPARK/** @a10pepo @yalinghu

/Alumnos/MDAA/*/TERRAFORM/** @a10pepo
/Alumnos/MDAB/*/TERRAFORM/** @a10pepo
/Alumnos/MIA/*/TERRAFORM/** @a10pepo

/Alumnos/MDAA/*/DBT/** @a10pepo @Rosalln
/Alumnos/MDAB/*/DBT/** @a10pepo @Rosalln
/Alumnos/MIA/*/DBT/** @a10pepo @Rosalln

/Alumnos/MDAA/*/ML0_INTRO/** @a10pepo
/Alumnos/MDAB/*/ML0_INTRO/** @a10pepo
/Alumnos/MIA/*/ML0_INTRO/** @a10pepo

/Alumnos/MDAA/*/ML1_REG/** @a10pepo @MA-Barracas
/Alumnos/MDAB/*/ML1_REG/** @a10pepo @MA-Barracas
/Alumnos/MIA/*/ML1_REG/** @a10pepo @MA-Barracas

/Alumnos/MDAA/*/ML2_CLA/** @a10pepo
/Alumnos/MDAB/*/ML2_CLA/** @a10pepo
/Alumnos/MIA/*/ML2_CLA/** @a10pepo

/Alumnos/MDAA/*/ML3_CLUSTERING/** @a10pepo
/Alumnos/MDAB/*/ML3_CLUSTERING/** @a10pepo
/Alumnos/MIA/*/ML3_CLUSTERING/** @a10pepo

/Alumnos/MDAA/*/ML4_DIM/** @a10pepo
/Alumnos/MDAB/*/ML4_DIM/** @a10pepo
/Alumnos/MIA/*/ML4_DIM/** @a10pepo

/Alumnos/MDAA/*/MLLIB/** @a10pepo
/Alumnos/MDAB/*/MLLIB/** @a10pepo
/Alumnos/MIA/*/MLLIB/** @a10pepo

/Alumnos/MDAA/*/MLOPS/** @a10pepo @daruai
/Alumnos/MDAB/*/MLOPS/** @a10pepo @daruai
/Alumnos/MIA/*/MLOPS/** @a10pepo @daruai

/Alumnos/MDAA/*/RN1_ANN/** @a10pepo
/Alumnos/MDAB/*/RN1_ANN/** @a10pepo
/Alumnos/MIA/*/RN1_ANN/** @a10pepo

/Alumnos/MDAA/*/RN2_CNN/** @a10pepo 
/Alumnos/MDAB/*/RN2_CNN/** @a10pepo 
/Alumnos/MIA/*/RN2_CNN/** @a10pepo 

/Alumnos/MDAA/*/RN3_RNN/** @a10pepo
/Alumnos/MDAB/*/RN3_RNN/** @a10pepo
/Alumnos/MIA/*/RN3_RNN/** @a10pepo

/Alumnos/MDAA/*/RN4_NLP/** @a10pepo
/Alumnos/MDAB/*/RN4_NLP/** @a10pepo
/Alumnos/MIA/*/RN4_NLP/** @a10pepo

/Alumnos/MDAA/*/ESTADISTICA/** @a10pepo @miguelruadelbarrio
/Alumnos/MDAB/*/ESTADISTICA/** @a10pepo @miguelruadelbarrio
/Alumnos/MIA/*/ESTADISTICA/** @a10pepo @miguelruadelbarrio
