/Alumnos/MDAA/*/DOCKER/** @a10pepo @MA-Barracas
/Alumnos/MDAB/*/DOCKER/** @a10pepo @MA-Barracas
/Alumnos/MIA/*/DOCKER/** @a10pepo @MA-Barracas

/Alumnos/MDAA/*/LINUX/** @a10pepo
/Alumnos/MDAB/*/LINUX/** @a10pepo
/Alumnos/MIA/*/LINUX/** @a10pepo

/Alumnos/MDAA/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/MDAB/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/MIA/*/PYTHON/** @martinImagina @a10pepo

/Alumnos/MDAA/*/SQL/** @a10pepo @gavnatalia
/Alumnos/MDAB/*/SQL/** @a10pepo @gavnatalia
/Alumnos/MIA/*/SQL/** @a10pepo @gavnatalia

/Alumnos/MDAA/*/NIFI/** @echiner @a10pepo 
/Alumnos/MDAB/*/NIFI/** @frkroe @a10pepo 
/Alumnos/MIA/*/NIFI/** @echiner @a10pepo

/Alumnos/MDAA/*/AHORCADO/** @a10pepo
/Alumnos/MDAB/*/AHORCADO/** @a10pepo
/Alumnos/MIA/*/AHORCADO/** @a10pepo

/Alumnos/MDAA/*/APIS/** @a10pepo 
/Alumnos/MDAB/*/APIS/** @a10pepo 
/Alumnos/MIA/*/APIS/** @a10pepo

/Alumnos/MDAA/*/KAFKA/** @a10pepo @rusansor
/Alumnos/MDAB/*/KAFKA/** @a10pepo @rusansor
/Alumnos/MIA/*/KAFKA/** @a10pepo @rusansor

/Alumnos/MDAA/*/PYSPARK/** @a10pepo 
/Alumnos/MDAB/*/PYSPARK/** @a10pepo 
/Alumnos/MIA/*/PYSPARK/** @a10pepo

/Alumnos/MDAA/*/TERRAFORM/** @a10pepo
/Alumnos/MDAB/*/TERRAFORM/** @a10pepo
/Alumnos/MIA/*/TERRAFORM/** @a10pepo

/Alumnos/MDAA/*/DBT/** @a10pepo 
/Alumnos/MDAB/*/DBT/** @a10pepo
/Alumnos/MIA/*/DBT/** @a10pepo

